<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Emo_Cool.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,252}</string>
                <key>spriteSourceSize</key>
                <string>{251,252}</string>
                <key>textureRect</key>
                <string>{{0,0},{251,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Emo_Happy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,252}</string>
                <key>spriteSourceSize</key>
                <string>{251,252}</string>
                <key>textureRect</key>
                <string>{{251,0},{251,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Emo_LikeIt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,231}</string>
                <key>spriteSourceSize</key>
                <string>{247,231}</string>
                <key>textureRect</key>
                <string>{{0,252},{247,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Emo_LikeIt_Value.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,228}</string>
                <key>spriteSourceSize</key>
                <string>{248,228}</string>
                <key>textureRect</key>
                <string>{{247,252},{248,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Emo_Love.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{0,483},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Emo_Money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{251,483},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Emo_Nice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,252}</string>
                <key>spriteSourceSize</key>
                <string>{252,252}</string>
                <key>textureRect</key>
                <string>{{0,734},{252,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Emo_Surprise.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{0,986},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Emo_Way.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,252}</string>
                <key>spriteSourceSize</key>
                <string>{252,252}</string>
                <key>textureRect</key>
                <string>{{251,986},{252,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Emo_Wildstar_free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,230}</string>
                <key>spriteSourceSize</key>
                <string>{265,230}</string>
                <key>textureRect</key>
                <string>{{0,1469},{265,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Emo_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,252}</string>
                <key>spriteSourceSize</key>
                <string>{251,252}</string>
                <key>textureRect</key>
                <string>{{252,734},{251,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Emo_wildstar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,231}</string>
                <key>spriteSourceSize</key>
                <string>{265,231}</string>
                <key>textureRect</key>
                <string>{{0,1238},{265,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emoji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,252}</string>
                <key>spriteSourceSize</key>
                <string>{251,252}</string>
                <key>textureRect</key>
                <string>{{0,1699},{251,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Emojis.png</string>
            <key>size</key>
            <string>{503,1951}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ba6dcfbee487f57a4eff24e8754dea3:09c65da606f88ba6cb025b07b1877066:9508033479724cf46a765944176f7a33$</string>
            <key>textureFileName</key>
            <string>Emojis.png</string>
        </dict>
    </dict>
</plist>
